# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Data files
*.csv
*.json
*.parquet
*.avro
data/raw/
data/processed/
data/models/

# Environment variables
.env
.env.*
.env.local
.env.production

# User credentials and secrets
*.secret
*.password
users.json
credentials.json

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore*.p8
*.pem
*.pub
.secrets/
*.p8
*.pem
*.key



# dbt artifacts
target/
logs/
dbt_packages/

airflow/config/
airflow/logs/
airflow/plugins/

data/pdf
# Chainlit uploaded files
.files/